/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formField {
  color: #ffffff;
  background-color: #333333;
  font-size: 16px;
}

.submitButton {
  margin-top: 10px;
  font-size: 16px;
}

.datePickerField input {
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.datePickerField .MuiOutlinedInput-root {
  &:hover fieldset {
    border-color: #007bff;
  }

  &.Mui-focused fieldset {
    border-color: #007bff;
  }
}

.MuiPickersDay-root {
  color: #ffffff;
  background-color: #333333;
}

.MuiPickersDay-root.Mui-selected {
  background-color: #007bff;
}

.MuiCalendarPicker-root {
  background-color: #333333;
}

.MuiTypography-root,
.MuiIconButton-root {
  color: #ffffff;
}
