.emptyBox {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
}

.emptyIcon {
  font-size: 48px;
  color: #757575;
  margin-bottom: 16px;
}

.emptyMessage {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.listItem {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.listItemTextSecondary {
  color: #b0b0b0;
  font-size: 14px;
}

.priceHighlight {
  color: yellow;
  font-weight: bold;
}
