.formControl {
  margin-top: 10px !important;
  width: 100%;
}

.inputLabel {
  color: #1e293b !important;
  transition: all 0.2s ease-out;
}

.select {
  color: #1e293b;
  border-radius: 4px !important;
  transition: all 0.3s ease;
}

.inputLabel.Mui-focused {
  color: #1e293b !important;
  transform: translate(14px, -9px) scale(0.75);
}

.helperText {
  margin-left: 0;
  margin-right: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  line-height: 1.2;
}

.helperText.Mui-error {
  color: #f44336 !important;
}
