.drawer {
  width: 240px;
  flex-shrink: 0;
}

.drawerPaper {
  width: 240px;
  box-sizing: border-box;
  background-color: #141619;
}

.icon,
.listItemText {
  color: white;
}

.divider {
  background-color: #2f2f2f;
}

.selectedMenuItem {
  background-color: #262f37;
  font-weight: bold;
}

.listItemButton:hover {
  background-color: #262f37;
}
