.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: #333;
  padding: 20px;
  outline: none;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.modalContent {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 400px;
  padding: 0;
  color: #fff;
}
