.inputBase.Mui-error {
  border-color: red;
  color: red;
}

.inputLabel {
  color: #2f2f2f !important;
}

.inputLabel.Mui-error {
  color: red;
}

.svgIcon {
  color: #ffffff;
}

.outlinedInputRoot:hover fieldset {
  border-color: #262f37;
}

.outlinedInputRoot.Mui-focused fieldset {
  border-color: #262f37;
}

.helperText {
  margin-left: 0;
  margin-right: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  line-height: 1.2;
}

.helperText.Mui-error {
  color: #f44336 !important;
}
