.inputBase {
  color: #ffffff;
}

.inputBase.Mui-error {
  border-color: red;
  color: red;
}

.inputLabel {
  color: #ffffff;
}

.inputLabel.Mui-error {
  color: red;
}

.svgIcon {
  color: #ffffff;
}

.outlinedInputRoot:hover fieldset {
  border-color: #1976d2;
}

.outlinedInputRoot.Mui-focused fieldset {
  border-color: #1976d2;
}
