.adminAppBar {
  transition: all 0.3s ease-in-out;
}

.adminAppBarOpen {
  width: calc(100% - 240px);
  margin-left: 240px;
}

.adminAppBarOpen {
  width: calc(100% - 240px);
  margin-left: 240px;
}

.adminMain {
  flex-grow: 1;
  padding: 24px;
  margin-left: -240px;
  transition: margin 0.3s ease-out;
}

.adminMainOpen {
  margin-left: 0;
}

.selectedMenuItem {
  background-color: #333;
  font-weight: bold;
  color: #ffffff;
}
