.table {
  margin-top: 20px;
}

.tableCell {
  color: #ffffff;
  min-width: 120px;
  vertical-align: middle;
  word-break: break-word;
  white-space: nowrap;
}

.tablePagination .MuiTablePagination-toolbar {
  background-color: #333333;
}

.tablePagination,
.tablePagination .MuiTablePagination-input,
.tablePagination .MuiTablePagination-caption,
.tablePagination .MuiTablePagination-actions,
.tablePagination .MuiSelect-icon {
  color: #ffffff;
}
