.table {
  margin-top: 20px;
}

.tableCell {
  color: #ffffff;
}

.actionsCell {
  display: flex;
  gap: 8px;
}

.tablePagination {
  color: #ffffff;
}

.tablePagination .MuiTablePagination-toolbar {
  background-color: #333333;
}

.tablePagination .MuiTablePagination-input,
.tablePagination .MuiTablePagination-caption {
  color: #ffffff;
}

.tablePagination .MuiTablePagination-actions {
  color: #ffffff;
}

.tablePagination .MuiSelect-icon {
  color: #ffffff;
}
