.customToolbar {
  display: flex;
  justify-content: flex-end;
  background-color: #121212;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.toolbarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262f37;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toolbarButton:hover {
  background-color: #141619;
}

.toolbarButton:disabled {
  background-color: #141619;
  cursor: not-allowed;
}

.toolbarButton svg {
  margin-right: 6px;
}
